<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aegis.modules.user.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.aegis.modules.user.domain.entity.UserRole">
        <id property="id" column="id"/>
        <id property="userId" column="user_id"/>
        <id property="roleId" column="role_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,role_id
    </sql>

    <insert id="batchUserRole">
        INSERT INTO t_user_role ( user_id, role_id )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userId},#{item.roleId})
        </foreach>
    </insert>
</mapper>
