<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aegis.modules.whitelist.mapper.WhitelistMapper">

    <resultMap id="BaseResultMap" type="com.aegis.modules.whitelist.domain.entity.Whitelist">
        <id property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
        <result property="version" column="version"/>
        <result property="remark" column="remark"/>
        <result property="requestMethod" column="request_method"/>
        <result property="requestUri" column="request_uri"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,update_by,create_time,update_time,deleted,
        version,remark,request_method,request_uri,`description`,
        status
    </sql>
</mapper>
