<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aegis.modules.dept.mapper.DeptMapper">

    <resultMap id="BaseResultMap" type="com.aegis.modules.dept.domain.entity.Dept">
        <id property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
        <result property="version" column="version"/>
        <result property="remark" column="remark"/>
        <result property="ancestors" column="ancestors"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,update_by,create_time,update_time,deleted,
        version,remark,ancestors,parent_id,dept_name,
        order_num,leader,phone,email,status
    </sql>

    <select id="getDeptAndChildrenIds" resultType="java.lang.Long">
        WITH RECURSIVE dept_tree AS (SELECT id, parent_id
                                     FROM t_dept
                                     WHERE id = #{deptId}
                                       AND deleted = 0

                                     UNION ALL
                                     SELECT d.id, d.parent_id
                                     FROM t_dept d
                                              INNER JOIN dept_tree dt ON d.parent_id = dt.id
                                     WHERE d.deleted = 0)
        SELECT id
        FROM dept_tree
    </select>
</mapper>
