<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aegis.modules.menu.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.aegis.modules.menu.domain.entity.Menu">
        <id property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
        <result property="version" column="version"/>
        <result property="remark" column="remark"/>
        <result property="menuName" column="menu_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="requestMethod" column="request_method"/>
        <result property="requestUri" column="request_uri"/>
        <result property="path" column="path"/>
        <result property="component" column="component"/>
        <result property="isFrame" column="is_frame"/>
        <result property="isCache" column="is_cache"/>
        <result property="menuType" column="menu_type"/>
        <result property="visible" column="visible"/>
        <result property="status" column="status"/>
        <result property="perms" column="perms"/>
        <result property="icon" column="icon"/>
    </resultMap>

    <resultMap id="MenuRole" type="com.aegis.modules.menu.domain.entity.Menu" extends="BaseResultMap">
        <collection property="roleList" ofType="com.aegis.modules.role.domain.entity.Role">
            <result column="role_code" property="roleCode"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,update_by,create_time,update_time,deleted,
        version,remark,menu_name,parent_id,order_num,request_method,request_uri
        `path`,component,is_frame,is_cache,menu_type,`visible`,`status`
        ,perms,icon
    </sql>

    <select id="getAllMenu" resultMap="MenuRole">
        select distinct tm.*, tr.role_code as role_code
        from t_menu tm
                 left join t_role_menu trm on trm.menu_id = tm.id
                 left join t_role tr on tr.id = trm.role_id
        where tm.request_uri is not null
          and tm.deleted = 0
          and tm.status = '0'
          and tr.deleted = 0
          and tr.status = '0'
    </select>
</mapper>
