<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aegis.modules.file.mapper.FileMetadataMapper">

    <resultMap id="BaseResultMap" type="com.aegis.modules.file.domain.entity.FileMetadata">
        <id property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
        <result property="version" column="version"/>
        <result property="remark" column="remark"/>
        <result property="fileName" column="file_name"/>
        <result property="originalFileName" column="original_file_name"/>
        <result property="suffix" column="suffix"/>
        <result property="filePath" column="file_path"/>
        <result property="fileSize" column="file_size"/>
        <result property="contentType" column="content_type"/>
        <result property="platform" column="platform"/>
        <result property="uploadTime" column="upload_time"/>
        <result property="md5" column="md5"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,update_by,create_time,update_time,deleted,
        version,remark,file_name,original_file_name,suffix,
        file_path,file_size,content_type,platform,
        upload_time,md5
    </sql>
</mapper>
